{% extends "base.html" %}
{% load mezzanine_tags keyword_tags %}

{% block meta_title %}{{ page.meta_title }}{% endblock %}

{% block meta_keywords %}{% metablock %}
{% keywords_for page as keywords %}
{% for keyword in keywords %}
    {% if not forloop.first %}, {% endif %}
    {{ keyword }}
{% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
{{ page.description }}
{% endmetablock %}{% endblock %}

{% block title %}
{% editable page.title %}{{ page.title }}{% endeditable %}
{% endblock %}

{% block main %}
    Category: {{ page.projectpage.category.name }}

    <br><br>

    Thumbnail: <img src="{{ page.projectpage.thumbnail_image.url }}">

    <br><br>

    Cover: <img src="{{ page.projectpage.cover_image.url }}">

    <br><br>

    Description: {{ page.projectpage.project_description|richtext_filters|safe }}

    <br><br>

    Project Images:

    {% for project_image in page.projectpage.projectimage_set.all %}
        <br><br>
        <img src="{{ project_image.image.url }}">
    {% endfor %}

{% endblock %}